* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.navbar {
    background-color: #054be0 !important;
}
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: white;
}
.navbar-toggler {
    background-color: #6590eb;
}
.active {
    background-color: #6590eb;
}