:root {
	--yale: #1b4079;
	--yale-darker: #0d2a57;
	--tomato: #f06449;
	--mustard: #fed766;
	--moonstone: #009fb7;
	--antiflashWhite: #eff1f3;
}
/* BS overrides --------------------------------------------------------*/
.display-5 {
	color: var(--antiflashWhite);
	padding-bottom: 5px;
	margin-bottom: 0;
}
.display-2 {
	color: var(--antiflashWhite);
}
.fixed-img {
	height: 200px; /* Set a fixed height */
	object-fit: cover; /* Crop images to fit while maintaining aspect ratio */
	width: 100%; /* Make sure the image fills the card width */
}
.card {
	margin-bottom: 10px;
}
.max-size-90 {
	max-height: 90%;
	max-width: 90%;
}
form {
	max-width: 90%;
}
/* Navbar styles */
.navbar,
footer {
	color: var(--bs-white);
}
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
	color: var(--antiflashWhite);
}
.navbar-toggler {
	background-color: var(--tomato);
}
.navbar-toggler:focus {
	outline: 0; /* Remove the default outline */
	box-shadow: 0 0 0 0.2rem var(--moonstone); /* Blue shadow effect */
}
.nav-item {
	border-radius: 4px;
}
.nav-link {
	padding: var(--bs-nav-link-padding-y) 7px;
	color: white;
}
.nav-item.active {
	background-color: #f06449;
	color: var(--mustard) !important;
}

/* Home Page CSS */
.image-hover img {
	background-color: black;
	transition: opacity 0.3s ease;
}
.image-hover img:hover {
	opacity: 0.6;
}