:root {
	--yale: #1b4079;
	--yale-darker: #0d2a57;
	--tomato: #f06449;
	--mustard: #fed766;
	--moonstone: #009fb7;
	--antiflashWhite: #eff1f3;
	--curve: 40;
}
* {
	box-sizing: border-box;
}

.bg-yale-gradient {
	background-image: linear-gradient(to bottom, var(--yale), var(--yale-darker));
}

.cards {
	display: grid;
	grid-auto-rows: 280px;
	grid-template-columns: repeat(3, minmax(300px, 1fr));
	gap: 2rem;
	margin: 4rem 5vw;
	padding: 0;
	list-style-type: none;
}
.active-project-card {
	border-radius: calc(var(--curve) * 1px);
	text-decoration: none;
	margin-top: 1em;
	padding: 2em 1em;
}
.active-project-card button {
	justify-content: center;
	margin-left: 1em;
}
.card {
	position: relative;
	display: block;
	height: 100%;
	border-radius: calc(var(--curve) * 1px);
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
	background-color: #0a1f3c;
}
.card__image {
	width: 100%;
	height: auto;
}
.card__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	border-radius: calc(var(--curve) * 1px);
	background-color: #0a1f3c;
	transform: translateY(100%);
	transition: 0.2s ease-in-out;
}
.card:hover .card__overlay {
	transform: translateY(0);
}
.card__header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 2em;
	border-radius: calc(var(--curve) * 1px) 0 0 0;
	background-color: #0a1f3c;
	transform: translateY(-100%);
	transition: 0.2s ease-in-out;
}
.card__arc {
	width: 80px;
	height: 80px;
	position: absolute;
	bottom: 100%;
	right: 0;
	z-index: 1;
}
.card__arc path {
	fill: #0a1f3c;
	d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}
.card:hover .card__header {
	transform: translateY(0);
}
.card__thumb {
	flex-shrink: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.card__title {
	font-size: 1em;
	margin: 0 0 0.3em;
	color: var(--mustard);
}
.card__tagline {
	display: block;
	margin: 1em 0;
	font-family: "MockFlowFont";
	font-size: 0.8em;
	color: #d7bdca;
}
.card__status {
	font-size: 0.8em;
	color: var(--tomato);
}
.card__description {
	padding: 0 2em 2em;
	margin: 0;
	color: #ffffff;
	font-family: "MockFlowFont";
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.page-image {
	width: calc(100% - 20%);
	height: auto;
}
.vh-100 {
	overflow: scroll;
	min-height: 100vh;
}
.hover-anim {
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1);
	transition: transform 0.3s ease-in-out;
}
.hover-anim:hover {
	transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale(1)
		translateY(10px);
}
.enlarge-anim {
	transition: transform 0.3s ease-in-out;
}
.enlarge-anim:hover {
	color: white;
	background-color: transparent;
	transform: scale(2);
}
.bg-yale {
	background-color: var(--yale);
}
.bg-yale-darker {
	background-color: var(--yale-darker);
}
.bg-tomato {
	background-color: var(--tomato);
}
.bg-mustard {
	background-color: var(--mustard);
}
.bg-moonstone {
	background-color: var(--moonstone);
}
.bg-antiflashWhite {
	background-color: var(--antiflashWhite);
}

.text-yale {
	color: var(--yale);
}
.text-yale-darker {
	color: var(--yale-darker);
}
.text-tomato {
	color: var(--tomato);
}
.text-mustard {
	color: var(--mustard);
}
.text-moonstone {
	color: var(--moonstone);
}
.text-antiflashWhite {
	color: var(--antiflashWhite);
}

button.bg-tomato:hover {
	color: var(--antiflashWhite);
	background-color: #ce4b31;
}

button.bg-moonstone:hover {
	color: var(--antiflashWhite);
	background-color: #056c7b;
}

.nav-link:hover {
	color: var(--tomato);
}
.nav-item.active .nav-link:hover {
	color: var(--yale);
}
.nav-item.active .nav-link:focus {
	color: var(--antiflashWhite);
}

p.bg-antiflashWhite {
	color: black;
}

p,
h1,
h2,
h3,
h4,
h5 {
	color: var(--antiflashWhite);
}

.profilePic {
	width: 80%;
}

.portfolio-bg {
	background-image: url("https://cdn.pixabay.com/photo/2020/01/11/07/39/north-4756774_960_720.jpg");
}
.contact-bg {
	background-image: url("https://cdn.pixabay.com/photo/2019/09/04/19/14/planet-4452434_960_720.jpg");
}
.resume-bg {
	background-image: url("https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_960_720.jpg");
}
.portfolio-bg,
.contact-bg,
.resume-bg {
	position: relative;
}
.portfolio-bg::before,
.contact-bg::before,
.resume-bg::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: inherit;
	background-size: cover;
	background-position: center;
	filter: blur(10px); /* Apply the blur effect */
	z-index: 1; /* Ensure it's behind the overlay text */
}
.no-blur {
	position: relative; /* Position content above the blurred background */
	z-index: 2; /* Ensure content is above the blurred background */
	padding: 20px;
}

/* glow effect css */
.glow {
	/* background-color: #007bff; */
	border-radius: 5px;
	transition: box-shadow 0.5s ease-in-out;
}

.glow:hover {
	box-shadow: 0 0 10px 10px rgba(0, 123, 255, 0.6); /* Blue glow effect */
}

/* resume page styling */
.resume a {
	color: var(--antiflashWhite);
	text-decoration: none;
}
.resume p {
	margin-left: 1.5em !important;
}

.centered {
	display: flex;
	justify-content: center;
}

@media (max-width: 1095px) {
	.cards {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}
